Manipulação de arquivo CSV (Running_Example_v5_complete):



1 - Ler em formato dataset o arquivo (Running_Example_v5_complete)

2 - Retornar quantas trajetórias possui no dataset (o tid representa cada ID de uma trajetória)

Nesse documento estarei explicando sobre as atividades da primeira semana e como os algoritmos desenvolvidos funcionam.



Atividade 1:

In [9]:
import pandas as pd

Importa o módulo pandas, que é uma biblioteca poderosa para análise e manipulação de dados em Python. A função pd é um atalho para facilitar o uso das funções do módulo.

In [10]:
tabela = pd.read_csv("Running_Example_v5_complete.csv", sep=",")

Lê um arquivo CSV chamado "Running_Example_v5_complete.csv" usando a função read_csv() da biblioteca pandas. O parâmetro sep="," indica que o separador entre as colunas no arquivo CSV é uma vírgula. O conteúdo do arquivo é armazenado no DataFrame tabela.

In [11]:
print(tabela)

    tid    lat_lon  time  price         poi weather  precip
0     1    0.0 6.2   345     -1        Home   Clear      10
1     1    0.8 6.2   717      2     Library  Clouds      20
2     1     3.1 11  1032      2    Shopping   Clear      10
3     1   4.3 16.9  1179     -1  University   Clear       0
4     1     6 13.1  1344      1  Restaurant   Clear       0
5     1    0.6 6.5  1400     -1        Home   Clear      10
6     2    0.4 6.7   375     -1        Home   Clear      15
7     2   2.5 10.5   610      2     Library  Clouds      15
8     2     3 13.5   740      3  Restaurant  Clouds      20
9     2   5.8 16.5   840     -1  University  Clouds      15
10    2     6.3 13  1283      1  Restaurant   Clear      10
11    2    0.4 6.6  1410     -1        Home   Clear      15
12    3      1 6.8   410     -1        Home   Clear      10
13    3     4 14.5   635      2    Shopping  Clouds      15
14    3   4.3 17.9   855     -1  University  Clouds      15
15    3   6.3 13.1  1080      1  Restaurant   Clear      10
16    3     6.4 11  1335      2  Restaurant   Clear      10
17    4  11.8 17.5   430     -1        Home   Clear       0
18    4       2 13   530      3      School   Clear       0
19    4    4.5 9.5   750      2  Restaurant   Clear       5
20    4     6.9 13  1140     -1  University   Clear       5
21    5    8.2 1.5   345     -1        Home   Clear       0
22    5      6.5 7   450      2      School   Clear      10
23    5      4.5 9   480      2  Restaurant  Clouds      15
24    5      6 3.5   540      2      Cowork    Rain      30
25    6    8.9 1.5   540     -1        Home   Clear      10
26    6    6.5 4.5   570      2  Restaurant  Clouds      15
27    6        3 9   630      2    Shopping  Clouds      15
28    6     3.5 16   810      1      Cowork  Clouds      20
29    6     6.3 12  1090      1  Restaurant  Clouds      10

Exibe o conteúdo do DataFrame tabela, mostrando todos os dados importados do arquivo CSV.

In [12]:
coluna = tabela["tid"]

Seleciona a coluna "tid" do DataFrame tabela e a armazena na variável coluna. Isso cria uma Series, que é uma estrutura de dados do pandas similar a uma lista, contendo todos os valores dessa coluna.

In [13]:
contador = 1

Inicializa uma variável contador com o valor 1. Essa variável será usada para contar o número de trajetórias diferentes, conforme será definido no próximo loop.

In [14]:
for i in range(1, len(coluna)):
  if coluna[i] != coluna[i - 1]:
    contador += 1

Inicia um loop for, que percorre os índices da coluna "tid", começando de 1 até o final (o índice 0 é ignorado, já que queremos comparar o valor atual com o anterior). A função len(coluna) retorna o número total de elementos da coluna "tid".

Dentro do loop, essa linha verifica se o valor atual (coluna[i]) é diferente do valor anterior (coluna[i - 1]). Se os valores forem diferentes, isso indica que uma nova trajetória começou.

Se os valores forem diferentes (nova trajetória), incrementa o valor de contador em 1, ou seja, contabiliza mais uma trajetória diferente.

In [15]:
print("Quantidade de trajetória diferentes: ", contador)

Quantidade de trajetória diferentes:  6

Ao final do loop, exibe a quantidade total de trajetórias diferentes, que foi armazenada na variável contador.